/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }
//* { font-family: Roboto, "Helvetica Neue", sans-serif; }

.logoFont {
  font-family: 'Patua One', cursive;
}

.content {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  overflow: hidden;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='35px' width='35px'><text x='0' y='15' fill='darkgrey' font-size='1rem'>.</text></svg>");
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  height: 40px;
  z-index: 200;

  > * {
    float: right;
    height: 100%;
    margin-right: 15px;
  }
}

p {
  color: #333;
}
