<div class="content">
  <!--  <h1><span class="logoFont">{{ pinboard?.name }}</span></h1>-->

  <div class="notesWrapper" (click)="deselectNote()" (dblclick)="createNote($event)">
    <div class="note" [ngClass]="{'selectedNote': selectedNote == note}"
         *ngFor="let note of currentPinboard?.notes"
         cdkDrag cdkDragBoundary=".notesWrapper" [cdkDragFreeDragPosition]="{x: note.posX, y: note.posY}"
         (cdkDragEnded)="onDragEnded($event, note)"
         (click)="selectNote(note);$event.stopPropagation()">

      <input type="text" name="headline" class="noteHeadline" value="{{ note.headline }}" placeholder="Title" (keyup)="setUpdateHeadline($event)">

      <button mat-icon-button aria-label="More" class="noteButton" [matMenuTriggerFor]="noteMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #noteMenu="matMenu" xPosition="after" yPosition="below">
        <button mat-menu-item [matMenuTriggerFor]="priorityMenu">
          <mat-icon>priority_high</mat-icon>
          Priority
        </button>
        <button mat-menu-item>
          <mat-icon>delete_forever</mat-icon>
          Delete
        </button>
      </mat-menu>

      <mat-menu #priorityMenu="matMenu" xPosition="after" yPosition="below">
        <button mat-menu-item (click)="setPriority(1)">Very Important</button>
        <button mat-menu-item (click)="setPriority(2)">Rather Important</button>
        <button mat-menu-item (click)="setPriority(3)">Important</button>
        <button mat-menu-item (click)="setPriority(4)">Not so Important</button>
        <button mat-menu-item (click)="setPriority(5)">Not Important</button>
      </mat-menu>

      <textarea class="noteText" placeholder="Your note here..." (keyup)="setUpdateText($event)">{{ note.text }}</textarea>
    </div>
  </div>

  <div class="pinboardList">
    <button class="pinboardButton" *ngFor="let pinboard of httpService.user?.pinboards"
            [ngClass]="{'selected': pinboard.id == currentPinboard?.id}"
            (click)="selectPinboard(pinboard)">
      <span class="pinboardButtonName">
        {{ pinboard.name }}
      </span>

      <button class="deletePinboardButton" mat-icon-button aria-label="deletePinboard" class="deletePinboardButton" (click)="openDialog()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </button>

    <input class="pinboardButton" type="text" name="newPinboard" placeholder="Create new"
           [(ngModel)]="newPinboardName"
           (focusout)="createPinboard()">
  </div>

  <div class="deleteShadow">
    <mat-icon class="deleteIcon" aria-hidden="false" aria-label="Trash icon">delete_forever</mat-icon>
  </div>
</div>
