<div class="content">
  <h1 class="welcome-headline">Welcome to <span class="logoFont">DigiBoard</span></h1>

  <p class="welcome-text">Start now with the best way to organize your notes. Create your very own pin boards and take
    notes, regardless of the topic. Easily write notes for work, housework, shopping, and more. </p>

  <button mat-raised-button color="primary" class="welcome-button logoFont" (click)="auth.googleSignin()">
    <!--    <fa-icon [icon]="['fab', 'google']"></fa-icon>-->
    <!--    &nbsp;-->
    Start taking Notes
  </button>
  <br>
  <img src="./assets/add-notes.svg" class="welcome-image" alt="add notes">
</div>
