.welcome-headline {
  font-size: 3rem;
  margin: 10vh 0 5vh 0;
}

.welcome-text {
  font-size: 1.15rem;
  line-height: 2.5rem;
  width: 35vw;
  margin: auto;
}

.welcome-button {
  font-size: 1.15rem;
  height: 5vh;
  margin-top: 1.5rem;
}

.welcome-image {
  height: 35vh;
  margin-top: 5vh;
}
